!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    :css
      .div {
          text-align: center;
          position: absolute;
          width: 50%;
          left: 340px;
          bottom: 380px;
      }
      h2 {
        text-align: left;
      }
  %body
    %h2 Editing User
    %br/
    = render 'form'
    .div
      = link_to 'Show', @user
      |
      \#{link_to 'Back', users_path}
